## Assignment 2

*100 points (8% of course grade)*</br>
*Assigned: Sun, May 26th*</br>
**Due: Fri, Jun 7th, 23:59**

This homework should be done in parts as soon as (< 0.5 week) relevant topics are covered in lectures. If you wait until the last minute, you might be overwhelmed.

You must turn in the required files electronically, including this Notebook (A2.ipynb). Please follow the submission instructions for each problem carefully.

In this assignment, you need to solve two problems. In Problem 1, you will write a few SQL queries to query the beers database. In Problem 2, you will answer two questions in database design theory.

## Setup your PostgreSQL

You will need this setup to create a database on your machine and to test your queries. Please follow our [setup instructions](https://canvas.sfu.ca/courses/84701/pages/postgresql-setup-instruction-for-assignment-2) on Canvas.

### Problem 1: Query with SQL (64%)

Consider again the beer drinker's database from Assignment 1 with following schema (key columns underlined).

- drinker (<u>name</u>, address)
- bar (<u>name</u>, address)
- beer (<u>name</u>, brewer)
- frequents (<u>drinker</u>, <u>bar</u>, times_a_week)
- likes (<u>drinker</u>, <u>beer</u>)
- serves (<u>bar</u>, <u>beer</u>, price)

#### **Preliminary**

After you finish the PostgreSQL setup, you will be able to run the PostgreSQL's interpreter in your command line tools by running `psql beers -U [your username]` in your terminal or command line. You may also use pgAdmin instead of the command line tool.

Same as assignment 1, you will need to type your SQL queries in the cells below.


Now your homework question is to write SQL queries to answer following questions. One major difference between SQL and relational algebra queries is the *bag semantics*: you may need to use DISTINCT in your SELECT statement or aggregate functions to deduplicate results or intermediate results.

Please fill your answer in each cell (and **ONLY the query**) and **DO NOT add or remove** any cells to make the TAs' life easier in evaluating your queries. Questions (1)-(4) are worth 6 points each; (5)-(9) are worth 8 points each.

#### 0. (example) Find names of all bars that Eve frequents.

In [ ]:
/* input your answer in this cell: */

SELECT bar FROM frequents WHERE drinker = 'Eve';

#### 1. Find names of bars that serve either Amstel or Corona at price higher than \\$2.

In [ ]:
/* input your answer in this cell: */

#### 2. Find the names of all drinkers that do not like Corona but frequent a bar that serves Corona.

In [ ]:
/* input your answer in this cell: */

#### 3. Find the names of all bars that serve at least 5 beers

In [ ]:
/* input your answer in this cell: */

#### 4. Find the pair of drinkers who frequent bars the same total number of times per week. Don't list (drinkerA, drinkerA). Only list pairs (drinkerA, drinkerB) where drinkerA < drinkerB  in the answer; don't list (drinkerB, drinkerA) again.

/* input your answer in this cell: */

#### 5. Find names of all drinkers who frequent *only* those bars that serve *only* beers they like.

In [ ]:
/* input your answer in this cell: */

#### 6. Find all (bar1, bar2) pairs where the set of beers served at bar1 is a proper subset of the those served at bar2; i.e., bar2 serves every beer that bar1 serves and plus some more.

In [ ]:
/* input your answer in this cell: */

#### 7. Calculate some statistics for each bar: (1) total number of drinkers who frequent it, (2) average price of beers it serves, and (3) name of the drinker who frequents it the maximum number of times a week (the most regular customer!). i.e., your query should output total_num_drinker, avg_price, most_reg_drinker
In case of ties in (3), rank the drinkers by the alphabetical order or their names. Sort the output by the number of drinkers (in descending order), in case of ties,
- sort by bar in alphabetical order. You need to list every bar, even if it
is not frequented by anyone
- (show 0 as the total number of drinkers in this case and NULL as the most
regular customer) or
- serves no beers (show NULL as average price in this case).

In [ ]:
/* input your answer in this cell: */

#### 8. Find, for each beer served in at least 2 bars that frequented by drinkers whose name starts with 'B', the difference of maximum and minimum (price gap) and *average price* of the beers in all serving bars, order by beer name. I.e., your query should output beer, price_gap, and avg_price

In [ ]:
/* input your answer in this cell: */

#### 9. Find, for each beer, its lowest serving price and the bar(s) serving it at this price. The output should be a list of (beer, price, bar) triples. If some beer B is not served anywhere, you should still output (B, NULL, NULL).

In [ ]:
/* input your answer in this cell: */

## Problem 2: Database design theory (36% = 16% + 20%)

#### 1. Consider a relation R with five attributes ABCDE. You are given the following dependencies: A -> D; DE -> C; CB -> A. 
1. For each FD $X \rightarrow Y$, compute the closure $X^+$
2. List all keys in R.
3. Is R in 3NF? Explain.
4. Is R in BCNF? Explain.

`Write your answers for 1,2,3,4 in this cell`

1.

2.

3.

4.

#### 2. Consider the following simplified table storing information about Pals, jobs, and production structures in Palworld: R(pid, sid, pal, structure_name, work_speed, job_type, food_consumption) and a set of functional dependencies:
* FD1: pid, sid -> work_speed
* FD2: sid -> structure_name, job_type
* FD3: pid -> pal, food_consumption
* FD4: structure_name -> job_type

`Decompose the schema into BCNF by (1) filling out the steps below, and (2) writing the names of the
relations in the final solution. Note: You may not need all four steps in your decompositions.`

**Step 1**
- Initial table: `R(pid, sid, pal, structure_name, work_speed, job_type, food_consumption)`
- Violating FD $X \rightarrow Y$:
- Schema of new table-1:
- Schema of new table-2:

**Step 2**
- Initial table: 
- Violating FD $X \rightarrow Y$:
- Schema of new table-1:
- Schema of new table-2:

**Step 3**
- Initial table: 
- Violating FD $X \rightarrow Y$:
- Schema of new table-1:
- Schema of new table-2:

**Step 4**
- Initial table: 
- Violating FD $X \rightarrow Y$:
- Schema of new table-1:
- Schema of new table-2:

**Names of relations in the final solution:**

## Submission instruction

1. For problem 1, answer the questions (1)-(9) in the Markdown cells

2. For problem 2.1, answer questions 1,2,3,4 in the given cell.

2. For problem 2.2, fill the steps you need after the `:` and write down the names of relations in the final solution

3. Compress your A2.ipynb (this file) into A2.zip and submit on Canvas